<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Administrator's Page</h1>
  <p><a href="/">Logout</a></p>
  <p style="color: red;">{{error}}</p>

<table border="1">
    <tr>
        <th>Admin Name</th>
        <th>Age</th>
    </tr>
    {%for i in info%}
        <tr>
            <td>{{i.first_name}} {{i.last_name}}</td>
            <td>{{i.age}}</td>
        </tr>
    {%endfor%}
</table>

<p>All Listed Locations</p>
<table border="1">
    <tr>
        <th>Country</th>
        <th>Zipcode</th>
        <th>StateName</th>
        <th>City</th>
    </tr>
    {%for loc in locations%}
        <tr>
            <td>{{loc.country}}</td>
            <td>{{loc.zipcode}}</td>
            <td>{{loc.state_name}}</td>
            <td>{{loc.city}}</td>
        </tr>
    {%endfor%}
</table>

<h2>Social Network Statistics</h2>
<h3 style="color: blue;">1. Select a location from the dropdown below to see all users from that state:</h3>
<form action={{"/admin_page/0"}} method="POST">
	<select name="state_name" id="state_name">
		{%for state in all_states%}
		<option value='{{state.state_name}}'>{{state.state_name}}</option>
		{%endfor%}
	</select>
	<input type="submit" name="submit" id="submit"/>
</form>

{%if filter.state != "none"%}
<p>Filtered users by state:{{filter.state}}</p>
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    {%for users in filter.users%}
        <tr>
            <td>{{users[0]}}</td>
	    <td>{{users[1]}}</td>
        </tr>
    {%endfor%}
</table>
{%endif%}

<h3>2. Average age of friends for all users:</h3>
<table border="1">
    <tr>
        <th>User</th>
        <th>Average Age of Friends</th>
    </tr>
    {%for avg in avg_age_of_friends%}
        <tr>
            <td>{{avg.user_id}}</td>
            <td>{{avg.avg_age_of_friends}}</td>
        </tr>
    {%endfor%}
</table>
<h3>3. Post averages for users over 30 years old and 30 years old or younger:</h3>
<table border="1">
    <tr>
      <th>Users over 30 years old</th>
      <th>Users 30 years old or younger</th>
    </tr>
    {%for stat in post_stats%}
        <tr>
            <td>{{stat.over_30_post_avg}}</td>
            <td>{{stat.leq_30_post_avg}}</td>
        </tr>
    {%endfor%}
</table>
</body>
</html>
