<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
	<!-- Todo: Delete these commented out code -->
<!--  <h1>Some famous Computer Scientists below</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
-->

<p><a href="login">Already have an account? Login here</a></p>

<form method="POST" action="/">
  <p>Join the network today!:<br />
    <label for="first_name">First Name :</label><input type="text" value="" name="first_name"><br />
    <label for="middle_name">Middle Name :</label><input type="text" value="" name="middle_name"><br />
    <label for="last_name">Last Name :</label><input type="text" name="last_name" value=""><br />
    <label for="age">Age :</label><input type="text" name="age" value=""><br />
    <label for="password">Password</label><input type="text" name="password" value=""><br />
    <input type="submit" value="Sign Up"></p>
</form>

</body>


</html>
