<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Sign in:</h1>
  <!-- <div>{{data}}</div> -->

  <form method="POST" action="/login">
      <label for="user_id">User ID:</label><input type="text" value="" name="user_id"><br />
      <label for="password">Password :</label><input type="text" value="" name="password"><br />
      <input type="submit" value="Log In"></p>
  </form>
  <!-- <div> -->
    <!-- ToDo: Update to "admin" user once created in the DB -->
    <!-- {% for n in data %}
    {%if n[0] == 0%}
    <p><a href={{"admin_page/{}".format(n[0])}}>{{n[0]}} {{n[1]}} {{n[2]}}</a></p>
    {% else %}
    <p><a href={{"user_info/{}".format(n[0])}}>{{n[0]}} {{n[1]}} {{n[2]}}</a></p>
    {% endif %}
    {% endfor %} -->
  <!-- </div> -->

<!-- <p><a href="another">Go to the other page</a></p> -->

</body>


</html>
