<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Select your account below:</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in data %}
    <p><a href="user_profile">{{n}}</a></p>
    <div>{{n[0]}}</div>
    {% endfor %}
  </div>

<!-- <p><a href="another">Go to the other page</a></p> -->

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
