<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>User Info</h1>
<p style="color: red;">{{error}}</p>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    {%for i in info%}
        <tr>
            <td>{{i.first_name}} {{i.last_name}}</td>
            <td>{{i.age}}</td>
        </tr>
    {%endfor%}
</table>
<h3>Places you've lived in:</h3>
<table>
    {%for loc in locations%}
        <tr>
            <td>{{loc.city}}, {{loc.state_name}}</td>
        </tr>
    {%endfor%}
</table>
<h3>Friends:</h3>
<table>
    {%for friend in friends%}
        <tr>
            <td>{{friend.first_name}} {{friend.last_name}}</td>
        </tr>
    {%endfor%}
</table>
<h3>Profiles</h3>
<p>Here are your profiles:</p>
<table>
    {%for profile in profiles%}
        <tr>
            <td>{{profile.profile_id}}. <a href={{"user_profile/{}/{}".format(profile.user_id,profile.profile_id)}}> Profile {{profile.profile_id}}</a></td>
            <!-- <td>{{profile.profile_id}}. Profile {{profile.profile_id}}</td> -->
        </tr>
    {%endfor%}
</table>
<h3>Posts</h3>
<form method="POST" action="">
    <p>Create post info.user_id {{info.user_id}}:<br />
      <label for="create_post">What's on your mind?</label><input type="text" value="" name="create_post"><br />
      <label for="profile_id">Where do you want this post?</label><input type="text" value="" name="profile_id"><br />
      <input type="submit" value="Post"></p>
  </form>

<p>Here's what you've been saying:</p>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Content</th>
    </tr>
    {%for post in posts%}
        <tr>
		<td>{{post.post_id}}</td>
		<td>{{post.content}}</td>
		<td><a href={{"/edit_post?post_id={}&user_id={}".format(post.post_id,post.user_id)}}>Edit</a> <a href={{"/delete_post?post_id={}&user_id={}".format(post.post_id,post.user_id)}}>Delete</a></td>
        </tr>
    {%endfor%}
</table>


<!-- <h3>Add new fridge:</h3> -->
<!-- <form action="/dashboard" method="POST">
    <label>Fridge Model</label>
    <input type="text" name="model" />
    <label>Nickname</label>
    <input type="text" name="nickname" />
    <input type="submit" value="Add" />
</form> -->
</body>
</html>
