<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>User Profile</h1>
  <h3>Bio</h3>
  {%for p in profile%}
  <p>{{p.bio}}</p>
  <p><a href={{"/user_info/{}".format(p.user_id)}}>Back</a>|<a href={{"/edit_profile/{}/{}".format(p.user_id,p.profile_id)}}>Edit Profile</a> | <a href="/">Logout</a></p>
  {%endfor%}
<p style="color: red;">{{error}}</p>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    {%for i in info%}
        <tr>
            <td>{{i.first_name}} {{i.last_name}}</td>
            <td>{{i.age}}</td>
        </tr>
    {%endfor%}
</table>
<h3>Posts</h3>
<p>Here's what you've been saying:</p>
<table>
    <tr>
        <th>Post</th>
        <th>Created</th>
    </tr>
    {%for post in posts%}
        <tr>
            <td>{{post.content}}</td>
            <td>{{post.created}}</td>
        </tr>
    {%endfor%}
</table>
</body>
</html>
